{% extends 'template_html.html' %}
{% block ten_dynamics %}<h6>VMware</h6>{% endblock %}
{% block li_home   %}<li><a href="/">主页</a></li>  {% endblock %}
{% block li_vmware %}<li class="active" ><a href="/vmware_part">VMware</a></li>  {% endblock %}
{% block li_Oracle %}<li><a href="#">Oracle</a></li>  {% endblock %}
{% block li_KVM    %}<li><a href="#">KVM</a></li>  {% endblock %}
{% block li_Linux  %}<li><a href="#">Linux</a></li>  {% endblock %}
{% block li_Docker %}<li><a href="#">Docker</a></li>  {% endblock %}