 *{
        margin: 0;
        padding: 0;
    }

 #myself_photo{
     margin: 1px auto;
     height: 200px;
     width: auto;
     align: middle;
 }

 #head_h3{
     color: #fffafa;

 }

 #right_div{
     margin-top: 50px;
     height: auto;

 }