<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>胭脂落blog</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css"/>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

</head>
<body>

<div class="col-lg-1"

<p>胭脂落</p>
<ul class="nav nav-tabs col-md-12 col-sm-12 col-xs-12 ">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">SVN</a></li>
  <li><a href="#">iOS</a></li>
  <li><a href="#">VB.Net</a></li>
  <li><a href="#">Java</a></li>
  <li><a href="#">PHP</a></li>
</ul>

<div class="col-md-12 col-sm-12 col-xs-12" style="background:red"><h1>你好，世界！</h1></div>




</body>
</html>