{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>胭脂落blog</title>
    <link rel="stylesheet" href="{% static "bootstrap\css\bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}"/>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "index_css.css" %}"


</head>
<body style="background: url({% static "html_backgroup.jpg" %})" >
<div style="margin:20 px ;padding:20px;">


    <h1>胭脂落</h1>



<div class="col-md-2 col-sm-2 col-xs-2" style="height: auto ;">
 <img id="myself_photo" src="{%  static "myself_photo.jpg" %}" class="col-md-12 col-sm-12 col-xs-12"  />
    <b>说明:</b>
    <h6>一个无聊人干了件无聊的事情</h6>
    <p>来自:胭脂落</p>
    <p>13265106653</p>


</div>

<div class="col-md-10 col-sm-10 col-xs-10" style="height: auto">

<ul  class="nav nav-tabs col-md-12 col-sm-12 col-xs-12 " >

  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">VMware</a></li>
  <li><a href="#">Oracle</a></li>
  <li><a href="#">KVM</a></li>
  <li><a href="#">Linux</a></li>
  <li><a href="#">Docker</a></li>

</ul>

<div class="col-md-8 col-sm-8 col-xs-8" style="height: auto">
    <ul>
        <h6>最近十条动态：</h6>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
    </ul>

</div>
</div>






</div>
</body>
</html>