{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>胭脂落blog</title>
    <link rel="stylesheet" href="{% static "bootstrap\css\bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}"/>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>


</head>
<body>
<div style="margin:20 px ;padding:20px;">



    <h1>胭脂落</h1>
<ul class="nav nav-tabs col-md-12 col-sm-12 col-xs-12 ">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">VMware</a></li>
  <li><a href="#">Oracle</a></li>
  <li><a href="#">KVM</a></li>
  <li><a href="#">Linux</a></li>
  <li><a href="#">Docker</a></li>
</ul>

<div class="col-md-8 col-sm-8 col-xs-8" style="height: auto">
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
    </ul>

</div>







</div>
</body>
</html>