{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}和某人一起的时光{% endblock %}</title>
    <link rel="stylesheet" href="{% static "bootstrap\css\bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}"/>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "index_css.css" %}"
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body style="background: url({% static "images/html_backgroup.jpg" %})">

<div style="background: #27547E;margin: 20,20,20,20">
    <img src="{{  }}">
    
    
    
</div>

</body>
</html>