{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}胭脂落blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static "bootstrap\css\bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}"/>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "index_css.css" %}"


</head>
<body style="background: url({% static "images/html_backgroup.jpg" %})" >

<!-- 头部部分  -->
<div class="col-md-1 col-sm-1 col-xs-1"></div>
<div class="col-md-11 col-sm-11 col-xs-11">
    <h3 id="head_h3">胭脂落的博客<br>
        www.zhouwanghan.com
    </h3></div>

<!--------------------------------------------------------------->

<!-- 整体部分 -->
<div class="col-md-12 col-sm-12 col-xs-12" style="margin:20 px ;padding:20px;">

<!-- 整体左边的部分 -->
<div class="col-md-2 col-sm-2 col-xs-2" style="height: auto ;border: solid 1px #333333">
    <div style="overflow: auto;">
        <h6>个人资料</h6>
        <img id="myself_photo" src="{%  static "images/myself_photo.jpg" %}" class="col-md-12 col-sm-12 col-xs-12"/>
    </div>
    <div>
        <b>说明:</b>
        <h6>一个无聊人干了件无聊的事情</h6>
        <p>胭脂落</p>
        <p>QQ：365541453</p>
        <p>电话：13265106653</p>
    </div>
</div>

<!--下面是中间主体部分-->

<div class="col-md-6 col-sm-6 col-xs-6" style="height: auto">
<!-- 中间导航栏 -->
<ul  class="nav nav-tabs col-md-12 col-sm-12 col-xs-12 " >
  {% block li_home   %}<li><a href="/">主页</a></li>  {% endblock %}
  {% block li_vmware %}<li><a href="/vmware_part">VMware</a></li>  {% endblock %}
  {% block li_automatic %}<li><a href="/automatic_part">自动化</a></li>  {% endblock %}
  {% block li_kvm    %}<li><a href="/kvm_part">KVM</a></li>  {% endblock %}
  {% block li_linux  %}<li><a href="/linux_part">Linux</a></li>  {% endblock %}
  {% block li_docker %}<li><a href="/docker_part">Docker</a></li>  {% endblock %}
  {% block li_database %}<li><a href="/database_part">数据库</a></li>  {% endblock %}
</ul>
<!-- 中间文章部分 -->
<div class="col-md-12 col-sm-12 col-xs-12" style="height: auto">

    <ul>
        {% block article_top %}<h4> </h4>{% endblock %}
    <!-- 中间文章列表 -->
    {% block article_list %}

    {% endblock %}

    </ul>

</div>

</div>

<!-- 下面是中间右边部分 -->

 <div id="right_div" class="col-md-2 col-sm-2 col-xs-2" >
    {% block left_div  %}

    {% endblock %}
 </div>





</div>
</body>
</html>